<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
        <h1>Are you a buyer or seller </h1>
        <br>
        <a href= 'http://127.0.0.1:5000/login/buyer'>
        <input type="button" value="Buyer">
        </a>

        <a href='http://127.0.0.1:5000/login/seller'>
        <input type="button" value="Seller">
        </a>
      <br>
      <br>
      <a href = 'http://127.0.0.1:5000/register'><h3>Don't have an account?</h3></a>

    </center>
</body>
</html>