<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = "POST">
    <label>Product Name</label>
    <input type="text" name="DproductName" />
    <br>
    <label>Description</label>
    <input type="password" name="Ddescription" />
    <br>
    <label>Price</label>
    <input type="text" name="price" />
    <br>
    <label>Last Name</label>
    <label for="category">Choose a dog name:</label>
    <select name="category" id="category">
        <option value="Productive">Productive</option>
        <option value="Fun">Fun</option>
        <option value="Prank">Prank</option>
        <option value="Health">Health</option>
        <option value="Fashion">Fashion</option>
    </select>
    <input type = "Submit"/>
</form>
</body>
</html>