<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = "POST">
    <label>Email Address</label>
    <input type="text" name="Semail_address" />
    <br>
    <label>Password</label>
    <input type="password" name="Spassword" />
    <br>
    <label>First Name</label>
    <input type="text" name="SFN" />
    <br>
    <label>Last Name</label>
    <input type="text" name="SLN" />
    <br>
    <label>Sort Code</label>
    <input type="text" name="Ssortcode" />
    <br>
    <label>Account Number</label>
    <input type="text" name="Saccountnumber" />
    <br>
    <label>Card Number</label>
    <input type="text" name="Scardnumber" />
    <br>
    <label>CVC Number</label>
    <input type="text" name="SCVC" />
    <br>
    <label>Expiry Date</label>
    <input type="text" name="Sexpirey" />
    <br>
    <label>Billing Name</label>
    <input type="text" name="Sbillname" />
    <br>
    <input type = "Submit"/>
</form>
</body>
</html>